#fhLogo, .navbar-toggler, .navbar a {
  margin-top: -3%;
}

.navbar {
  font-family: 'Wire One', sans-serif;
  font-size: 18px;
  letter-spacing: 3px;

}

.nav-link {
  color: #000;
}

.nav-link:hover {
  color: #DAA520;
}

.navbar-toggler {
  padding-bottom: 0 !important;
}


#allProducts h3, #hairBundles h3, #hairProducts h3, #custCart h3, #cartSection h3 {
    font-family: 'Notable', sans-serif;
    margin-top: 3%;
    letter-spacing: 8px;
    font-size: 9px;
}

.card-img-top {
  width: 180px;
  height: 180px;
}

.col-lg {
  padding: 3%;
}


.card-body  {
    font-family: 'Wire One', sans-serif;
}

.card-body h6 {
  font-size: 18px;
  line-height: 16px;
}

.card-body a {
  color: #000;
  text-decoration: none;
}

.card-body a:first-child:hover {
  text-decoration: none;
  letter-spacing: .8px;
}

.card-img-top:hover {
  box-shadow: .5px .5px .5px grey;
}

.card-title {
  text-align: center;
}

.btn {
  font-family: 'Notable', sans-serif;
  font-size: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.btnItem {
  font-family: 'Notable', sans-serif;
  font-size: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.btnItem:hover {
  text-decoration: none;
  letter-spacing: .8px;
}

.card-body h6, {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.card-body span {
  text-align: center;
}

#footerHome {
  font-family: 'Wire One', sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  color: #000;
}

#footerHome p {
  font-size: 16px;
  letter-spacing: 1px;
}

#footerHome a {
  color: #000;
}

#footerHome a:hover {
  text-decoration: none;
  color: 	#DAA520;
}

#igSocial:hover {
  color: #DAA520;
}

#custCart .card {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.cart-item {
    width: 45%;
}

.cart-column {
    align-items: center;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.cart-item {
  width: 100%;
}

.btn-danger {

width: 20% !important;

}

.cart-items {
  font-family: 'Wire One', sans-serif;
}

.cart-quantity-input {
  width: 30px;
  text-align: center;
}

/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
                        /* Media Queries For Responsive Design*/
/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
                        /*Small devices (landscape phones, 320px and up) */
/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */


@media (min-width: 320px) {

  .nav {
    margin-top: 2%;
  }

  #row1, #row2, .btn {
    margin-left: 20%;
  }

  .card-img-top {
    width: 280px;
    height: 280px;
  }

  .btn, .card-body h6 {
    width: 185%;
    margin-left: auto;
    margin-right: auto;
  }



}


/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
                        /*Small devices (landscape phones, 360px and up) */
/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */

@media (min-width: 375px) {

  .nav {
    margin-top: 2%;
  }

  #row1, #row2, .btn {
    margin-left: 20%;
  }

  .card-img-top {
    width: 280px;
    height: 280px;
  }

  .btn, .card-body h6 {
    width: 185%;
    margin-left: auto;
    margin-right: auto;
  }


}

/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
                        /*Small devices (landscape phones, 425px and up) */
/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */

@media (min-width: 425px) {

  .nav {
    margin-top: 2%;
  }

  #row1, #row2, .btn {
    margin-left: 20%;
  }

  .card-img-top {
    width: 280px;
    height: 280px;
  }

  .btn, .card-body h6 {
    width: 185%;
    margin-left: auto;
    margin-right: auto;
  }


}


/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
                        /*Medium devices (tablets, 506px and up)*/
/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
@media (min-width: 506px) {

  .nav {
    margin-top: 2%;
  }

  #row1, #row2, .btn {
    margin-left: 20%;
  }


  .card-img-top {
    width: 280px;
    height: 280px;
  }

  .btn, .card-body h6 {
    width: 185%;
    margin-left: auto;
    margin-right: auto;
  }



 }

 /* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
                         /*Tablet Devices 768px and up) */
 /* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */


@media (min-width: 768px) {

  .nav {
    margin-top: -4%;
  }

  #row1, #row2, .btn {
    margin-left: 30%;
  }

  .card-img-top {
    width: 280px;
    height: 280px;
  }

  .btn, .card-body h6 {
    width: 185%;
    margin-left: auto;
    margin-right: auto;
  }
}



/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
                        /* Large devices (desktops, 1024px and up) */
/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
@media (min-width: 1024px) {

  .nav {
    margin-top: -4%;
  }

  #row1, #row2, .btn {
    margin-left: 0;
  }

  .card-img-top {
    width: 180px;
    height: 180px;
  }

  .btn, .card-body h6 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

}


/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
                /* Large devices (large desktops, 1440px and up) */
/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
@media (min-width: 1440px) {

  .nav {
    margin-top: -4%;
  }

  #row1, #row2, .btn {
    margin-left: 0;
  }

  .card-img-top {
    width: 180px;
    height: 180px;
  }

  .btn, .card-body h6 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }



}



/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
                /* ExtraExtra large devices (large desktops, 2560px and up) */
/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
@media (min-width: 2560px) {

  .nav {
    margin-top: -4%;
  }

  #row1, #row2, .btn {
    margin-left: 0;
  }

  .btn, .card-body h6 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }


}


/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
                                    /* FONTS */
/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
font-family: 'Wire One', sans-serif;
font-family: 'Notable', sans-serif;
