html, #body {width: auto!important; overflow-x:hidden !important;}

@font-face {
  font-family: 'NF-REG';
  src: url('NeutralFace.otf'),
       url('NeutralFace-Bold.otf');
  }

  @font-face {
    font-family: 'NF-BOLD';
    src: url('NeutralFace-Bold.otf');
    }


  body {
    font-family: 'NF', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    min-height: 100vh;
    animation: scroll 450s linear infinite;
    background: url("img/ps-img-ge-2-rs.png");
    perspective: 1000px;
    perspective-origin: 50% 50%;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .headerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @keyframes scroll {
     100% {
      background-position:0px -3000px;
    }
  }

  @media (prefers-reduced-motion) {
    .wrapper {
      animation: scroll 200s linear infinite;
    }
  }

  header img, header button {
    padding-top: 20px;
  }

  header img {
    height: 60px;
    width: auto;
    margin-left: 15px;
  }

  #menuIcon {
    text-align: right;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-right: 15px;
    margin-top: -20px;
  }

  /* JumboTron Styles Start */
  .jumboTron {
    padding: 15px 20px;
  }

  .jumboTron h1 {
    font-family: 'NF-BOLD', sans-serif;
    letter-spacing: 1.2px;
    color: #fff;
    line-height: 40px;
    font-size: 40px;
    text-align: left;
    background-color: #000;
    padding: 10px 20px;
  }


  .jumboTron p {
    font-size: 18px;
    color: #fff;
    padding: 10px 20px;
    line-height: 25px;
    background-color: #000;
    text-align: left;
    font-family: 'Inter Tight';
    font-weight: 300;
  }

  .buttonHomepage {
    width: 200px;
    height: 45px;
    background-color: #000;
    color: #fff;
    font-family: 'NF-BOLD', sans-serif;
    padding: 0px 0px;
    color: #fff;
    text-align: center;
    box-shadow: none;
    border: none;
    font-size: 18px;
    margin-bottom: 10px;
  }
