html, #body {width: auto!important; overflow-x:hidden !important;}

body {
  font: 0.9em/1.2 'Inter Tight', sans-serif;
  width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #fff;
}

header {
  text-align: center;
  background-color: #184e77;
  padding: 1px;
  height: 5vh;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

header p
 {
  font-weight: 100;
  color: #fff;
  font-size: 20px;
  margin: 5px;
}

footer {
  height: 2vh;
  background-color: #184e77;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
}

footer small {
 color: #fff;
}

/* JumboTron Styles Start */
.jumboTron {
  font-family: 'Inter Tight', sans-serif;
  text-align: center;
  padding: 5px;
  margin-bottom: 20px;
}

.jumboTron h1 {
  font-weight: 300;
  letter-spacing: 2px;
  color: #000;
  font-size: 32px;
  text-transform: uppercase;
  padding: 0;
  margin: 10px;
}

.jumboTron p {
  font-size: 14px;
  font-weight: 100;
  color: #000;
}

.jumboTron a {
  padding: 0px 20px;
}

.jumboTron a:nth-child(1) {
  color: #000;
}

.jumboTron a:hover {
  color: #168aad;
}

/* JumboTron Styles End */

/* Mobile Menu Start */

.mobileHomePageMenu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

 .mobileHomePageMenu a {
   text-align: center;
   padding: 20px 20px;
   margin: 0px 20px;
   color: #fff;
   border-radius: 8px;
   box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px;
 }

.mobileHomePageMenu a:hover {
  opacity: .8;
  color: #fff;
}

.mobileHomePageMenu  i {
  font-size: 35px;
}

.mobileHomePageMenu p {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 100;
}

#mi1 {
  background-color: #184e77;
}

#mi2 {
  background-color: #1e6091;
}

#mi3 {
  background-color: #1a759f;
}

#mi4 {
  background-color: #168aad;
}

#mi5 {
  background-color: #34a0a4;
}

#mi6 {
  background-color: #52b69a;
}

#mi7 {
  background-color: #76c893;
}

#mi8 {
  background-color: #99d98c;
}

/* Mobile Menu End */

/* Drop Down Menu Start */

.dropdown {
  text-align: center;
  padding: 0;
  border-bottom: 1px solid #000;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px;
}

.dropdownbtn {
  cursor: pointer;
  border: none;
  background-color: #fff;
  padding: 5px;
  margin: 0px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding:  20px 0px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 100;
}

.dropdown-content i {
  font-size: 20px;
}

.dropdown-content a:hover {
  opacity: .8;
  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px !important;
  width: 100%;
}

#dropdownMenuTitle {
  font-size: 20px;
  font-weight: 100;
  padding: 5px;
}
/* Drop Down Menu End */


/* Research Menu Start */

.researchHomePageMenu {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0px !important;
  width: 100%;
  height: auto;
}

 .researchHomePageMenu a {
  padding: 10px 10px;
  color: #fff;
}

.researchHomePageMenu a:hover {
  opacity: .5;
  color: #fff;
}

.researchHomePageMenu p {
  font-size: 20px;
  letter-spacing: 1.5px;
  font-weight: 100;
  text-align: left;
}

.researchHomePageMenu  p:nth-child(2) {
  text-align: right;
  padding-right: 10px;
}

.researchHomePageMenu .rs-mi {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* Research Menu End */
