html, #body {width: auto!important; overflow-x:hidden !important;}

body {
  font: 0.9em/1.2 'Inter Tight', sans-serif;
  width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

header,
footer {
  text-align: center;
  background-color: #fff;
  padding: 1px;
  height: 5vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

header p,
footer p {
  font-weight: 400;
  color: #000;
  font-size: 20px;
  margin: 5px;
}

/* JumboTron Styles Start */
.jumboTron {
  background-image: url('img/IMG_0295.JPG');
  background-size: cover;
  background-position: top;
  font-family: 'Inter Tight', sans-serif;
  text-align: center;
  border-bottom-color:  #000;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-top-color:  #000;
  border-top-style: solid;
  border-top-width: 2px;
  width: 100%;
  height: 30vh;
  text-align: center;
  padding: 5px;
}

.title {
  background-color: rgba(0, 0, 0, .85);
  padding: 10px;
  padding-bottom: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.jumboTron h3 {
  font-weight: 900;
  letter-spacing: 1px;
  color: #fff;
}

.jumboTron p {
  font-size: 12px;
  font-weight: 100;
  color: #fff;
  font-weight: 400;
  padding-bottom: 10px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 20px;
}

.btn-dark  {
  background: #000;
  color: #fff;
  border-width: .5px;
  border-color: #fff;
}

.btn-dark:hover {
  background: #fff;
  color: #000;
}

.btn-light {
  background-color: #fff;
  color: #000;
  border-width: .5px;
  border-color: #000;
}

.btn-light:hover {
  background: #000;
  color: #fff;
  border-width: .5px;
  border-color: #fff;
}
/* JumboTron Styles End */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px !important;
  width: 100%;
  height: 90vh;
}

.mobileHomePageMenu div {
  text-align: center;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  padding:0px;
  padding-top: 50px;
  color: #fff;
}

.mobileHomePageMenu div:hover {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  opacity: .5;
}

.mobileHomePageMenu  i {
  font-size: 35px;
}

.mobileHomePageMenu p {
  font-size: 12px;
}

#mi1 {
  background-color: #184e77;
}

#mi2 {
  background-color: #1e6091;
}

#mi3 {
  background-color: #1a759f;
}

#mi4 {
  background-color: #168aad;
}

#mi5 {
  background-color: #34a0a4;
}

#mi6 {
  background-color: #52b69a;
}

#mi7 {
  background-color: #76c893;
}

#mi8 {
  background-color: #99d98c;
}
