/* Universal Styles */
html, #body {width: auto!important; overflow-x:hidden !important;}

a {
  color: #000 !important;
  font-family: 'Inter Tight', sans-serif;
}

a:hover {
  text-decoration: none !important;
}

/* Universal Styles End */

/* Navbar Styles */

.navigation, .navbar {
  background-color: none !important;
}

.navbar h5 {
  font-weight: 900 !important;
  font-size: 30px !important;
}

.nav-link p {
  font-weight: 100;
  font-size: 12.5px !important;
  text-align: center !important;
}

.nav-link p:hover {
  font-weight: 300 !important;
}

.nav-link i {
  font-size: 18px !important;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.fa-bars {
  color: #000 !important;
}

#navbarDropdown a {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 100 !important;
}

/* Navbar Styles End */

/* Mobile Menu Start */

#offcanvasMenu {
  width: 100% !important;
  background-color: #fff !important;
}

.mobileMenu {
    margin-top: 20% !important;
}


.col-xl {
  text-align: left !important;
}

.col-xl a {
  font-size: 1.4rem !important;
  text-transform: uppercase;
}

.col-xl p {
  font-weight: 400 !important;
}

.col-xl a:hover, .col-xl p:hover {
  letter-spacing: 3px !important;
  font-weight: 900 !important;
}

.mobileMenu hr {
  height: 3px !important;
  background: #000 !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: none !important;
  opacity: .9 !important;
  border: none !important;
}

.hide {
  display: none;
}

.col-xl a:hover + .hide {
  display: block;
}

/* Mobile Menu End */

/* JumboTron Styles Start */
.jumboTron {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: #000;
  font-family: 'Inter Tight', sans-serif;
  text-align: center !important;
}

.jumboTron h1 {
  font-weight: 900;
  letter-spacing: 1px;
}

.jumboTron p {
  font-size: 18px !important;
  font-weight: 100;
}

.btn-dark  {
  background: linear-gradient(to right, #603813, #b29f94) !important;
  color: #fff !important;
  border-width: .5px !important;
}

.btn-dark:hover {
  background: #fff !important;
  color: #000 !important;
}

.btn-light {
  background-color: #fff !important;
  color: #000 !important;
  border-width: .5px !important;
  border-color: #603813 !important;
}

.btn-light:hover {
  background: linear-gradient(to right, #603813, #b29f94);
  color: #fff !important;
}
/* JumboTron Styles End */


/* PI Section Starts*/
.piSection {
  background-image: url('img/IMG_0295.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding: 10% !important;
  margin-top: -3% !important;
}

.piSection h1 {
  font-size: 5.5rem;
  line-height: 85px !important;
  font-weight: 900;
  color: #fff !important;
}

.piSection .col-xl {
  background-color: rgba(0,0,0,.85) !important;
  padding: 5%;
}

/*PI Section Ends*/

/* Research Section */

.researchSection {
  font-family: 'Inter Tight', sans-serif;
}

.researchSection h2 {
  font-weight: 900 !important;
}

/* Research Section Ends */


/* Current Team Members on Home Page Section Start */

.ctm {
  padding: 5%;
}

.ctmHeading h2, .ctmMobileHeading h2 {
  font-family: 'Inter Tight', sans-serif !important;
  font-weight: 900 !important;
  letter-spacing: 1px;
}



.ctm h5 {
  font-family: 'Inter Tight', sans-serif !important;
  font-size: 16px !important;
  font-weight: 300 !important;
}

.ctm p {
  font-size: 14px !important;
  font-weight: 100 !important;
}

.ctm p:hover {
  font-weight: 400 !important;
}

.ctm .card {
  text-align: center !important;

}

/* Current Team Members on Home Page Section End */





/* Media Queries */

@media only screen and (min-width: 320px) {

  .piSection .col-xl {
    text-align: center !important;
  }

  .piSection h1 {
    font-size: 2rem;
    line-height: 30px !important;
  }

  .ctmMobile {
    margin-top: -15% !important;
  }

  .ctmMobile .card {
    width: 8rem;
  }

  .ctmMobile .card-body {
    margin: none !important;
  }

  .ctmMobile .col {
    padding-top: 5% !important;
  }

  .card-body {
    padding: 10px !important;
    text-align: center !important;
  }

  .ctmMobile h5, .ctmMobile p {
    display: none !important;
  }


}

@media only screen and (min-width: 375px) {

  .piSection .col-xl {
    text-align: center !important;
  }

  .piSection h1 {
    font-size: 3rem;
    line-height: 50px !important;
}

.ctmMobile .card {
  width: 9rem;
}





}

@media only screen and (min-width: 425px) {

  .piSection .col-xl {
    text-align: center !important;
  }

  .piSection h1 {
    font-size: 3rem;
    line-height: 50px !important;
  }

  .ctmMobile .card {
    width: 10rem;
  }




}

@media only screen and (min-width: 768px) {

.piSection .col-xl {
  text-align: center !important;
}

.piSection h1 {
  font-size: 5.5rem;
  line-height: 85px !important;
}

.ctmMobile {
  margin-top: -10% !important;
}

.card-body {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  text-align: center !important;
}

.ctmMobile h5, .ctmMobile p {
  display: block !important;
}

.ctmMobile h5 {
  font-size: 10px !important;
}

.ctmMobile p {
  font-size: 10px !important;
}



}

@media only screen and (min-width: 1024px) {

  .piSection h1 {
    font-size: 5.5rem;
    line-height: 85px !important;
  }

  .ctmMobile .card {
    width: 18rem;
  }

  .ctmMobile {
    margin-top: -10% !important;
    padding: 5% !important;
  }

  .card-body {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    text-align: center !important;
  }

  .ctmMobile h5, .ctmMobile p {
    display: block !important;
  }

  .ctmMobile h5 {
    font-size: 14px !important;
  }

  .ctmMobile p {
    font-size: 12px !important;
  }




}

@media only screen and (min-width: 1440px) {

  .ctmMobile .card {
    width: 18rem;
  }

  .ctmMobile {
    margin-top: -10% !important;
    padding: 5% !important;
  }

  .card-body {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    text-align: center !important;
  }

  .ctmMobile h5, .ctmMobile p {
    display: block !important;
  }

  .ctmMobile h5 {
    font-size: 14px !important;
  }

  .ctmMobile p {
    font-size: 12px !important;
  }





}

@media only screen and (min-width: 2560px) {

  .ctmMobile .card {
    width: 18rem;
  }

  .ctmMobile {
    margin-top: -10% !important;
    padding: 5% !important;
  }

  .card-body {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    text-align: center !important;
  }

  .ctmMobile h5, .ctmMobile p {
    display: block !important;
  }

  .ctmMobile h5 {
    font-size: 14px !important;
  }

  .ctmMobile p {
    font-size: 12px !important;
  }


}
