html {
  height: 100%;
}

#body {
  min-height: 100%;
  background-image: url('img/img1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}


header {
  text-align: center;
  margin-top: 4%;
}

header h2 {
  font-family: 'Barrio', cursive;
  padding: .5%;
  cursor: pointer;
  margin-top: -1%;
  padding: .5%;
  letter-spacing: 2.5px;
}

header a {
  color: black;
}

h2 a:hover {
  color: white;
  text-decoration: none;
  background-color: black;
}

.hr {
  border-bottom: 1.8px solid black;
  margin-top: -1%;
  width: 100%;
}

#nav {
  font-family: 'Barrio', cursive;
  cursor: pointer;
}

#nav a {
  color: black;
}

#menuToggle {
  text-align: center;
  font-family: 'Barrio', cursive;
}

label:hover {
  text-decoration: none;
  background-color: black;
  color: white;
  letter-spacing: 3px;
}

label {
  cursor: pointer;
  font-size: 3em;
  text-decoration: underline;
}

label, #content {
  height: auto;
  margin-botton: 10px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

#menu {
  text-align: center;
  width: auto;
  overflow: hidden;
  max-height: 0;
  padding: 0;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease;
}

#menu li a {
  padding: 1%;
  color: black;
  letter-spacing: 1.8px;
}

#menu li a:hover {
  background-color: black;
  text-decoration: none;
  letter-spacing: 10px;
}

#nav li a:hover {
  background-color: black;
  text-decoration: none;
  letter-spacing: 2px;
}

#pink:hover {
  color: pink;
}

#blue:hover {
  color: blue;
}

#green:hover {
  color: #88d8b0;
}

#white:hover {
  color: white;
}

#menu-toggle:checked + #menu {
  max-height: 400px;
  font-size: 2em;
}

.photoGallery {
  text-align: center;
  font-family: 'Barrio', cursive;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25%;
}

.photoGallery h5 {
  padding-top: 3%;
  font-size: 1.2em;
}

.photoGallery hr {
  margin-top: .1%;
}

.photoGallery .col-lg {
  margin: .8%;
}
.photoGallery img:hover {
  opacity: .7;
}

.photoGallery img {
  box-shadow: 0 10px 6px -6px #777;
}

footer  {
  text-align: center;
  font-family: 'Barrio', cursive;
  font-size: .7em;
  letter-spacing: 5px;
}

address {
  color: black;
}


/* Media Queries For Responsive Design*/


@media (min-width: 320px) {

  header h2 {
    font-size: 1.8em;
  }

  #menuToggle {
    margin-top: 20%;
    display: block;
  }

  #nav {
    display: none;
  }

  address {
    font-size: .5em;
  }

.photoGallery {
  margin-top: 10%;
}

 }

/*Small devices (landscape phones, 360px and up) */

@media (min-width: 375px) {

  #menuToggle {
    display: block;
  }

  #nav {
    display: none;
  }

}

@media (min-width: 425px) {
    #menuToggle {
      display: block;
    }

    #nav {
      display: none;
    }

  }


/*Medium devices (tablets, 506px and up)*/

@media (min-width: 506px) {



  #nav {
    display: block;
    font-family: 'Barrio', cursive;
  }

  #menuToggle {
    display: none;
  }

  address {
    font-size: 1em;
  }

  .photoGallery {
    margin-top: 0%;
    width: 85%;
  }

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {


  #nav {
    display: block;
    font-family: 'Barrio', cursive;
  }

  #menuToggle {
    display: none;
  }

  address {
    font-size: 1em;
  }

  .photoGallery {
    width: 65%;
  }

}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {



  #nav {
    display: block;
    font-family: 'Barrio', cursive;
  }

  #menuToggle {
    display: none;
  }

  address {
    font-size: 1em;
  }

  .photoGallery {
    width: 45%;
  }


}
