#body {
  background-image: url("img/img3.jpg");
  font-family: 'Josefin Slab', serif;
}


#main {
  font-family: 'Josefin Slab', serif;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 700;
  margin-top:22.5%;
  margin-bottom:0;
  margin-left:auto;
  margin-right:auto;
  max-width: 700px;
}

#cd {
  color: #FFFFFF;
  font-family: 'Josefin Slab', serif;
  font-weight: 400;
  font-size: 18px;
}

#ucTeaserVid {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

/* Media Queries For Responsive Design*/

@media (min-width: 320px) {

  #main {
    margin-top: 75% !important;
  }


 }

/*Small devices (landscape phones, 360px and up) */

@media (min-width: 375px) {


  #main {
    margin-top: 75% !important;
  }

 }


 @media (min-width: 425px) {

   #main {
     margin-top: 75% !important;
   }

  }



/*Medium devices (tablets, 506px and up)*/

@media (min-width: 768px) {

  #main {
    margin-top: 35% !important;
  }


 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  #main {
    margin-top: 25% !important;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

#main {
  margin-top: 22.5% !important;
}


}
