/*
Filename: zoe_styles.css
Author: Tiana Mangual
Date: 9/28/17

*/


a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
  text-decoration: none;
}



i:hover {
  color: white;
}

#envelope:hover {
  opacity: .5;
}

#hotAirBalloon:hover {
  opacity: .5;
}


html {
  position: relative;
  min-height: 100%;

}

body {
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
  background-size:contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 60px;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

#mainContent {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5%;
  text-align: center;
}

#quote {
  font-family: 'Caveat', cursive;
  margin-top: 2.5%;
  line-height: 28px;
  font-size: x-large;
}

#counter {
  margin-top: 3.5%;
}

#titleContent {
  margin-top: 3.5%;
  font-family: 'Zeyada', cursive;
  text-align: center;
}

#titleContent h1 {
  font-size: 6.5em;
}

#firstName {
  color: rgb(242,229,228);
}

#rightSingle {
  font-family: none;
  font-size: .65em;
}


#title {
  font-family: 'Caveat', cursive;
}

#dys, #hrs, #mins, #secs {
  border: 5px solid rgb(242,229,228);
  background-color: rgba(255,255,255,.65);
  font-size: 1.2em;
  font-family: 'Caveat', cursive;
}

footer {
  font-family:'Caveat', cursive;
  color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  text-align: center;
  font-size: medium;
  letter-spacing: 1.5px;
  font-size: .8em;

}


/* Contact Form Styles */

#inputItems {
  margin-top: 3%;
  width:75%;
  margin-left: auto;
  margin-right: auto;

}
  #textArea {
    width:75%;
    margin-left: auto;
    margin-right: auto;
  }

#contactHeader {
    margin-top: 5%;
}
