#main {
  padding-top: 1.5%;
}

.nav, .navbar, .navbar-brand a {
  font-family: 'Arsenal', sans-serif;
  font-weight: 700;
}

.nav {
  letter-spacing: 1.8px;
  text-transform: uppercase;
  font-size: 12px;
}

.navbar-brand a {
  letter-spacing: 1px;
}

.nav a, .navbar a, .navbar-brand a {
  color: black;
}

.navbar a:hover {
  text-decoration: none;
}

.nav a:hover, .navbar a:hover {
  color: rgb(242, 212, 205);
}

.jumbotron {
  background-image: url('img3.jpg');
  background-position: center;
  background-size: cover;
  height: 550px;
}

#fanMessage {
  padding: 5% 6% 5% 6%;
  //font-family: 'Arsenal', sans-serif;
  font-family: 'Cousine', monospace;
  font-size: .75em;
}

#writings {
  font-family: 'Cousine', monospace;
  padding-top: 5%;
}

#writings .col-sm {
  margin: 5%;
  text-align: left;
}

#writings p {
  font-size: .75em;
}

#writings a {
  font-size: .69em;
}

#covers {
  padding: 3%;
}

#covers .row {
  padding: 3%;
}

#covers iframe {
  //border-radius: 1.5%;
  width: 98%;
  height: auto;
  box-shadow: 3px 2px 4px -1px rgba(97,92,97,1);
}

#covers figcaption, figcaption a {
  font-family: 'Arsenal', sans-serif;
  text-align: center;
  font-weight: 700;
  color: black;
  font-size: .9em;
}

#covers figcaption a:hover {
  color: rgb(242, 212, 205);
  text-decoration: none;
}

#socials  {
  padding: 15%;
  font-size: 1.8em;
  text-align: center;
  color: black;
}
#socials span {
  margin: .2%;
}

#socials span:hover {
  color: rgb(242, 212, 205);
}

footer {
  color: black;
  font-family: 'Arsenal', sans-serif;
  font-size: .7em;
  text-align: center;
  font-weight: 700;
  margin-bottom: 3%;
  letter-spacing: .8px;
}
footer a {
  color: black;
}

footer a:hover {
  color: rgb(242, 212, 205);
  text-decoration: none;
}







/*
font-family: 'Arsenal', sans-serif;
font-family: 'Cousine', monospace;
font-family: 'Playfair Display', serif;
*/

/*
color 1: rgb(206, 223, 223)
color 2: rgb(230, 241, 255)
color 3: rgb(242, 212, 205)
color 4: rgb(251, 234, 236)
*/
