/* Fonts */
  @font-face {
    font-family: 'Coffe-Reg';
    src: url('fonts/CoffekanRegular.ttf');
  }

  @font-face {
    font-family: 'Coffe-Light';
    src: url('fonts/KenokyLight.ttf');
  }
/* Fonts */

/* Universal Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {width: auto!important; overflow-x:auto !important;}

body {
  background-position: cover;
  width: 100%;
  margin: 0;
  padding: 0;
}

video {
  object-fit: cover;
}

/* Universal Styles */


/* Photo + Vid Grid */

.photoBgGrid {
  display: grid;
  grid-template-columns: auto;
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -1;
}

.photoBgGrid div {
  padding: 0;
  margin: 0;
}

.innerPhotoGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.innerPhotoGrid div img, .innerPhotoGrid div video {
  width: 100%;
  height: 100%;
}
/* Photo + Vid Grid */

/* Logo */

.firstDiv {
  background-image: url(img/bg.jpg);
  background-size: cover;
}


header {
  display: grid;
  text-align: center;
  width: max-content;
  height: 100%;
  width: 100%;
  row-gap: 1em;
}

.content {
  margin-top: -40px !important;
}

.content p {
  color: #000;
  font-family: 'Coffe-Light';
  font-size: 22px;
  margin-left: 1em;
  padding: 7px;
  letter-spacing: 1.5px;
  text-shadow: .5px .5px #000;
}

header a {
  color: #000;
  font-family: 'Coffe-Reg';
  font-size: 25px;
  text-decoration: none;
  padding: 5px;
  border: .5px solid #000;
  margin: 1em;
  text-shadow: .5px .5px #000;
}

header a:hover {
  background-color: #000;
  color: #fff;
  border-color: #eee;
}

#title {
  animation: fadeIn 3s;
  color: #000;
  font-family: 'Coffe-Light' !important;
  font-size: 60px;
  padding: 0;
  margin: 0;
}

#tagline {
  color: #000;
  animation: fadeIn 8s;
  font-family: 'Coffe-Reg' !important;
  font-size: 52px;
  padding: 0;
  margin: 0;
  margin-top: -15px;
  text-shadow: .5px .5px #000;
}

#logo svg {
  fill: #000;
  animation: rise 2s;
  height: auto;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 150px;
  stroke: #000;
  margin-top: -15px;
}

.outerDivForAnimation {
  height: auto;
  margin: -70px auto;
  padding-bottom: 1em;
}
/* Logo */

/* Animations */
.fade-in-image {
  animation: fadeIn 5s;
}

@keyframes rise {
  from {top: 150px;}
  to {top: 0px;}
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scroll {
   100% {
    background-position:0px -3000px;
  }
}
/* Animations */

@media (min-width: 2560px) {
  #title {
    font-size: 117px;
    padding: 11px;
  }

  #tagline {
    font-size: 88px;
  }

  #logo svg {
    width: 320px;
  }

  .content p {
    font-size: 36px;
  }

  header a {
    font-size: 47px;
  }

  .centerText {
    display: flex;
    justify-content: center;
  }
}



@media (max-width: 1024px) {
  .innerPhotoGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .hide1024 {
    display: none;
  }

  header a {
    font-size: 28px;
  }
}

@media (max-width: 780px) {

  .innerPhotoGrid {
    grid-template-columns: 1fr 1fr;
  }


  .hide1024 {
    display: block;
  }

  .centerText {
    display: flex;
    justify-content: center;
  }

  header a {
    font-size: 28px;
  }
}

@media (max-width: 768px) {

  .innerPhotoGrid {
    grid-template-columns: 1fr 1fr;
  }

    #logo svg {
      width: 200px;
      margin-top: -20px;
    }

  .hide1024 {
    display: block;
  }

  header a {
    margin-bottom: 25px;
  }
}


@media (max-width: 645px)  {
   .innerPhotoGrid {
    grid-template-columns: auto;
  }

  header {
    padding: 25px;
  }

  .hide1024 {
      display: block;
    }

  #logo svg {
    width: 175px;
  }


  }


@media (max-width: 425px) {
   .innerPhotoGrid {
    grid-template-columns: auto;
  }


  header a {
    font-size: 28px;
    margin: 0;
    padding: 5px;
  }


  @media (max-width: 320px) {
    #title {
      font-size: 54px;
  }
}
