html, body {
  margin: 0px !important;
  height: 100% !important;
  background-color: #000;
}

.bi-clock-history, .bi-camera, .bi-envelope-paper-heart {
  font-size: 2.8rem !important;
  text-align: center !important;
}

.bi-three-dots {
  color: #fff;
}

i {
  font-size: 2.5rem !important;
}

.row {
  margin-left: 5%;
}

.col {
  width: 100% !important;
}

.col2 {
  text-align: center !important;
  margin-top: -10%;
}

.col h1 {
  text-align: left !important;
}

.list-group-item {
  height: 28vh !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.list-item-1 {
  background: #CB356B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #000 !important;
}

.list-group-item:hover {
  color: #fff !important;
  border: 2px solid #fff;
}

.list-group-item p:hover, .list-group-item i:hover  {
  color: #fff !important;
}


.list-item-2 {
  background: #F2994A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #000 !important;
}

.list-item-3 {
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #000 !important;
}

.row {
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

p {
  font-size: 18px !important;
  width: 100% !important;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
}
