html, body {
  margin: 0px !important;
  height: 100% !important;
  background-color: #fff !important;
  font-family: 'Nunito', sans-serif;
  text-decoration: none !important;
}

.navbar-brand {
  font-size: 18px !important;
  font-weight: 700 !important;
}

.navbar {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.bi-clock-history, .bi-camera, .bi-envelope-paper-heart {
  font-size: 2.8rem !important;
  text-align: center !important;
}

.bi-mic, .bi-geo {
  font-size: 21px !important;
}

.bi-three-dots-vertical {
  color: #000;
}

a {
  color: #000 !important;
  text-decoration: none !important;
}

i {
  font-size: 2.5rem !important;
}

.listRow {
  margin-left: 5%;
}

.col {
  width: 100% !important;
}

.col2 {
  text-align: center !important;
  margin-top: -10%;
}

.col h1 {
  text-align: left !important;
}

.list-group {
  margin-top: 5% !important;
}

.list-group-item {
  height: 30vh !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.list-item-1, .input-group-text, .btn-primary {
  background: #CB356B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

.list-group-item-1:hover {
  color: #fff !important;
}

.btn-primary {
  border-color: #CB356B !important;
  color: #fff !important;
}

.input-group-text {
  color: #fff !important;
}

.list-group-item:hover {
  color: #fff !important;
  border: 3px solid #fff;
  text-decoration: underline;
}

.list-group-item p:hover, .list-group-item i:hover  {
  color: #000 !important;
}

.list-item-2 {
  background: #F2994A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #000 !important;
}

.list-item-3 {
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #000 !important;
}

.row {
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.list-group p {
  font-size: 22px !important;
  width: 100% !important;
  font-weight: 700;
}

.formSection, .cardSection {
  padding: 5%;
  text-align: center;
}

.formSection h4, .cardSection h4,  .formSection p, .form-check {
  text-align: left !important;
}

.formSection h4, .cardSection h4 {
  font-weight: 700;
}

.formSection p {
  font-size: 16px !important;
}

.header {
  padding: 1%;
  text-align: center;
}

.header h6 {
    font-weight: 700;
}

.header p {
  font-size: 14px;
}
