html, body, #body {width: auto!important; overflow-x: hidden!important;}

@font-face {
  font-family: "Nightydemo";
  src: url('Nightydemo.otf');
}

#body {
  background-color: #000;
  background-image: url("IMG/pattern-16.png");
  background-size: cover;
}


.middleText {
  text-align: center;
  position: fixed !important;
  height: auto;
  font-family: 'Nightydemo', cursive;
  color: #fff;
  }

  .middleText h1 {
    font-size: 5rem !important;
    text-shadow: .04em .04em 0 #fbc40a;
  }

.workText h1 {
    font-size: 2.8rem !important;
    text-shadow: .04em .04em 0 #fbc40a;
  }

a {
  color: #fff !important;
  text-shadow: .04em .04em 0 #fbc40a;
  font-family: 'Nightydemo', cursive;
  text-decoration: none !important;
  text-transform: uppercase;
}

a:hover {
  color: #fbc40a !important;
  text-shadow: .04em .04em 0 #fff;
}

.workButton a {
  color: #fbc40a !important;
  text-shadow: .04em .04em 0 #FFF;
}

.workButton a:hover {
  color: #fff !important;
  text-shadow: .04em .04em 0 #fbc40a;
}

.col1, .col3 {
  text-align: left;
}

.col2, .col4 {
  text-align: right;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

.moveMe {
  animation: wiggle 5s infinite;
  position: absolute;
}





/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
                        /* Media Queries For Responsive Design*/
/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */


@media only screen and (min-width: 320px) {

  .workText h1 {
      font-size: 1.4rem !important;
    }

}

 /* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
                         /*Tablet Devices 768px and up) */
 /* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */


@media only screen and (min-width: 768px) {

  .workText h1 {
      font-size: 2rem !important;
    }

}

/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
                        /* Large devices (desktops, 1024px and up) */
/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
@media only screen and (min-width: 1024px) {

  .workText h1 {
      font-size: 2.8rem !important;
    }

}

