html, body, #body {width: auto!important; overflow-x: hidden!important;}

#body {
  background-color: #000;
  background-image: url("IMG/FV11.png");
  background-size: cover;
}


.middleText {
  text-align: center;
  position: fixed !important;
  height: auto;
  color: #fff;
  }

  .middleText h5 {
    text-shadow: .05em .05em 0 #000;
    letter-spacing: 1.5px !important;
    font-family: 'Anybody';
    font-weight: 300;
    text-transform: uppercase;
  }

  .middleText p {
    font-family: 'Anybody';
    letter-spacing: 3px;
    font-weight: 100;
  }


a {
  color: #fff !important;
  text-shadow: .04em .04em 0 #000;
  font-family: 'Anybody';
  font-weight: 300;
  text-decoration: none !important;
  text-transform: uppercase;
}

a:hover {
  color: #fff !important;
  text-shadow: .07em .07em 0 #000;
}

.workButton a {
  color: red !important;
  text-shadow: .04em .04em 0 #000;
}

.workButton a:hover {
  color: #fff !important;
  text-shadow: .04em .04em 0 #000;
}

.workText a:hover {
  color: red !important;
}

.col1, .col3 {
  text-align: left;
}

.col2, .col4 {
  text-align: right;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

.moveMe {
  animation: wiggle 5s infinite;
  position: absolute;
}





/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
                        /* Media Queries For Responsive Design*/
/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */


@media only screen and (min-width: 320px) {

  .workText h1  {
      font-size: 1.4rem !important;
    }


}

 /* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
                         /*Tablet Devices 768px and up) */
 /* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */


@media only screen and (min-width: 768px) {

  .workText h1 {
      font-size: 2rem !important;
    }


}

/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
                        /* Large devices (desktops, 1024px and up) */
/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
@media only screen and (min-width: 1024px) {

  .workText h1 {
      font-size: 2.8rem !important;
    }


}
