body { background-color: #000; margin: 0; padding: 0; color: #fff; font-family: "Cormorant", serif; }
a { color: #fff; text-decoration: none; }
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.show-mobile { display: none;}
.hide-mobile { display: block;}
.mobile-cond-nav {
  display: none;
  grid-template-columns: 90% 10%;
  text-align: center;
  margin-top: -25%;
}

.mobile-cond-nav div {
  display: flex;
  justify-content: center;
  align-items: center;
}


.menu-logo {
  margin-left: 55px;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0px;
  letter-spacing: -3px;
}

.main-grid{
  display: grid;
  width: 70%;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  row-gap: 1em;
}

.our-story {
  margin-top: 3em;
}

.our-story h1 {
  font-size: 55px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 20px;
}

.our-story p {
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}


.nav-grid {
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.nav-grid a:hover { text-decoration: underline; }

.nav-grid div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-grid a {
  font-size: 16px;
  text-decoration: none;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 2px;
}

.nav-grid a:hover {
  font-weight: bolder;
  text-decoration: underline;
}

.mobile-nav { display: none; }

.date-loc-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  margin-top: 6em;
}

.date-loc-grid h2 {
  font-weight: 100;
  font-size: 40px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.date-loc-grid div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-border { border-right: 1px solid #d3d3d3;}

.signature { margin-top: 3em;}
.signature h3 {
  font-size: 55px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0px;
  letter-spacing: -3px;
  padding-bottom: 10px;
}
.signature p {
  letter-spacing: 3px;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
}

.signature hr { width: 15%; color: #d3d3d3; }

.info  h2,
.wedding-party h2,
.di-form h2 {
  font-weight: 100;
  font-size: 40px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.info p { font-size: 20px; }
.small-text { font-size: 16px;}
.info a, {
  border: 1px solid #fff;
  padding: 15px 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.info a:hover {
  color: #000;
  background-color: #fff;
}

.wedding-party h3 {
  font-size: 28px;
  font-weight: 200;
}

.details { margin-top: 3em; }


.details-grid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1em;
}

.left-align { text-align: left !important;}
.right-align { text-align: right !important;}


.hide-on-mobile { display: block; }


/* Form */
form { text-align: left; }
.entry-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#entry-text h1 {
  text-align: center;
}

#entry-text p { text-align: center; font-size: 18px;}
#entry-text button { width: 100%; }

.input-box-entry { width: 100% !important; }
.di-form {
  padding-top: 4em;
  padding-bottom: 4em;
}

.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.di-form label {
  display: grid;
  font-size: 20px;
  font-weight: 100;
}
.input-box {
  background-color: transparent;
  border: 1px solid #fff;
  width: 320px !important;
  margin-top: 1em;
  height: 30px;
  color: #fff;
 }
.margin-top { margin-top: 1em;}

button  {
  width: 100%;
  background-color: #fff;
  border: 1px solid #fff;
  padding: 15px 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000;
  font-size: 18px;
  font-family: "Cormorant", serif
}

button:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.flower-img {
  max-width: 100vw;
  height: 100%;
}

/* Media Queries */
@media (max-width: 1400px){
  .main-grid { width: 100%;}
}

@media (max-width: 1024px){
  .date-loc-grid { margin-top: 1em; grid-template-columns: auto;}
  .date-loc-grid h2 { font-size: 25px; }
  .right-border { border-right: none;}
  .top-border { border-top: 1px solid #d3d3d3; border-top-width: 25% !important;}
  .show-mobile { display: block;}
  .hide-mobile { display: none;}
}

@media (max-width: 768px ) {
  .mobile-cond-nav { display: grid !important;}
  .mobile-nav { display: grid !important;}
  .nav-grid { display: none; }
  .mobile-nav div {
    border-bottom: 1px solid #d3d3d3;
    display: block !important;
    padding-bottom: 1em;
   }
   .menu-margin { margin-top: 3em; }
}


@media (max-width: 768px) {
  .nav-grid,
  .details-grid
   { grid-template-columns: auto;
     row-gap: 1.5em;
   }

   .left-align,
   .right-align { text-align: center !important; }
   .hide-on-mobile { display: none !important; }
}

@media (max-width: 500px) {
  .flower-img {
    max-width: 500px !important;
    height: auto !important;
  }
}

@media (max-width: 425px) {
  .flower-img {
    max-width: 425px !important;
    height: auto !important;
  }
}

@media (max-width: 320px) {
  .flower-img {
    max-width: 320px !important;
    height: auto !important;
  }
}

@media (max-width: 280px) {
  .flower-img {
    max-width: 280px !important;
    height: auto !important;
  }
}
