@font-face {
  font-family: "Love Story";
  src: url('LoveStory.otf');
}

@font-face {
  font-family: "Recoba";
  src: url('Recoba.otf');
}
body { margin: 0; padding: 0; }
h2 { font-size: 1.8em;}
h3 { font-size: 1.5em; }
p { font-family: 'Josefin Slab', serif; }
button {
  background-color: #3d252f;
  color: #fff;
  width: 250px;
  padding: 10px 5px;
  font-family: "Recoba";
  border-radius: 6px;
  border: none;
}
button:hover {
  background-color: #fff;
  color: #3d252f;
  border: 2px solid #3d252f;
  font-weight: 600;
}
form {
  font-family: 'Josefin Slab', serif;
  text-align: left;
}

a {
  text-decoration: none;
}

.entry-body {
  height: 100vh;
  background: hsla(335, 24%, 19%, 1);
  background: linear-gradient(180deg, hsla(335, 24%, 19%, 1) 0%, hsla(320, 26%, 35%, 1) 100%);
  background: -moz-linear-gradient(180deg, hsla(335, 24%, 19%, 1) 0%, hsla(320, 26%, 35%, 1) 100%);
  background: -webkit-linear-gradient(180deg, hsla(335, 24%, 19%, 1) 0%, hsla(320, 26%, 35%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3D252F", endColorstr="#714261", GradientType=1 );
  display: flex;
  justify-content: center;
  align-items: center;
}

#entry-text h1 {
  color: #fff;
  font-family: "Love Story";
  text-align: center;
}

#entry-text p { font-family: 'Josefin Slab'; text-align: center; color: #fff; font-size: 18px;}
#entry-text button { width: 100%; }

.input-box-entry { width: 100% !important; }

.nav-grid a:hover { text-decoration: underline; }

.main-grid{
  display: grid;
  width: 80%;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  row-gap: 1em;
}

.nav-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 1em;
}

.nav-grid div,
.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-grid a {
  color: #3d252f;
  font-family: 'Recoba', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-grid a:hover {
  font-weight: bolder;
}

.our-story {
  color: #3d252f;
  font-family: 'Love Story', cursive;
  margin-top: 3em;
}

.media-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 1em;
}

.gallery {
  margin-top: 2em;
  margin-bottom: 2em;
}

.gallery-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 5px;
  row-gap: 5px;
}

.gallery-grid div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-grid img {
  height: auto;
  width: auto;
  border-radius: 6px;
}

#gradient-div {
  background-image: linear-gradient(#3D252F, #714261);
  border-radius: 10px;
  height: auto;
  padding: .5em;
  width: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-story h1 {
  font-size: 3em;
  letter-spacing: 3px;
}

.our-story p {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 1em;
}

#main-image {
  width: auto;
  height: 350px;
  border-radius: 10px;
}

.arrows img {
  width: 10px;
  height: auto;
}

.details { margin-top: 3em; }

.details h2,
.details h3,
.gallery h2 {
  font-family: 'Love Story', cursive;
  color: #3d252f;
}

.details p {
  font-family: 'Josefin Slab';
}

.details-grid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1em;
}

.left-align { text-align: left !important;}
.right-align { text-align: right !important;}

.wedding-party h2,
.wedding-party h3 {
  font-family: 'Love Story', cursive;
  color: #3d252f;
}

.wedding-party p {
  font-family: 'Josefin Slab';
}

.hide-on-mobile { display: block; }

.vendors h2, h3 {
  font-family: 'Love Story', cursive;
  color: #3d252f;
}

.vendors p {
  font-family: 'Josefin Slab';
}

.di-form {
  padding-top: 4em;
  padding-bottom: 4em;
}

.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.di-form label {
  display: grid;
}

.di-form h1 {
  font-family: 'Love Story', cursive;
  color: #3d252f;
}

.di-form p {
  font-family: 'Josefin Slab';
}

.input-box { width: 250px !important; }
.margin-top { margin-top: 1em;}

@media (max-width: 768px) {
  .main-grid { width: 100%;}
  .nav-grid,
  .details-grid
   { grid-template-columns: auto;
     row-gap: 1.5em;
   }

   .left-align,
   .right-align { text-align: center !important; }
   .hide-on-mobile { display: none !important; }
}
