html a:hover {
  text-decoration: none;
}

#main {
  background-color: white;
}

.nav {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  background-color: black;
  text-transform: uppercase;
  font-size: 9px;
}

.nav a {
  color: #fff;
}

.nav a:hover {
  color: rgba(237, 188, 56, .7);
}

#bar {
  background-color: white;
  height: 4.5px;
}

#bar2 {
  background-color: rgba(237, 188, 56, .7);
  height: 4.5px;
}

#jumbo1 {
  background-image: url('img/img_5_1110px.jpg');
  background-size: cover;
  background-position:bottom;
  height: auto;
  max-width: 100%;
}

#title {
  font-family: 'Arima Madurai', cursive;
  text-align: center;
  color: white;
  margin-top: 32%;
  font-weight: 900px;
  font-size: 2.5rem;
  text-shadow: .5px .5px #000;
}

#title:hover {
  opacity: .5;
  text-decoration: none;
}

#tagline {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: .9rem;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: black;
  background-color: white;
  border-radius: 2px;
  margin-top: 5%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#tagline2 {
  text-align: center;
  font-family: 'Arima Madurai', cursive;
  font-size: .8rem;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 5px;
  color: rgb(237, 188, 56);
  background-color: black;
  width: 82%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
}

#div1, #div2, #div3, #div4, #div5 {
  padding: 25px;
  text-align: center;
}

#div1 h4, #div2 h4, #div3 h4, #div4 h4, #div5 h4  {
  font-family: 'Arima Madurai', cursive;
  font-weight: 900;
  margin-top: 10px;
}

#div1 p {
  font-size: 1.2rem;
}

#div2 p, #div3 p, #div4 p, #div5 p  {
  padding: 5px;
  font-size: .89rem;
  line-height: 1.4rem;
  text-align: left;
}

#div3 a , #div4 a, #div5 a {
  color: black;
  text-align: center;
}

#div3 a:hover, #div4 a:hover, #div5 a:hover {
  color: rgba(237, 188, 56, .7);
}

#div3 h5 {
  font-family: 'Arima Madurai', cursive;
  font-weight: 900;
}

#div3 .card {
  color: black;
  border: none;
}


#questions {
 font-family: 'Arima Madurai', cursive;
 text-align: center;
 font-weight: 900;
 font-size: 1.2rem;
}

#btn1, #btn2, #btn3, #btn4, #btn5 {
  border-color: rgba(237, 188, 56, .7);
  color: rgba(237, 188, 56, .7);
}

#btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover, #btn5:hover   {
  background-color: rgba(237, 188, 56, .7);
  color: white;
}

#selfie {
  border-color: black;
  border-width: 3px;
  margin-top: 5%;
  margin-bottom: 5%;
}


footer {
  margin-top: 10%;
}

footer a {
  color: black;
}

footer a:hover {
  color: rgba(237, 188, 56, .7);
}

address {
  font-size: .63rem;
  text-align: center;
  padding: 10px;
}



/* Services Styles */

#sDiv1, #sDiv2, #sDiv3, #sDiv4, #sDiv5 {
 padding: 25px;
 text-align: center;
}

#sDiv1 h4, #sDiv2 h4, #sDiv3 h4, #sDiv4 h4, #sDiv5 h4  {
  font-family: 'Arima Madurai', cursive;
  font-weight: 900;
}

#sDiv1 p, #sDiv2 p, #sDiv3 p, #sDiv4 p, #sDiv5 p  {
  padding: 5px;
  font-size: .89rem;
  line-height: 1.4rem;
  text-align: left;
}


/* Gallery Styles */

.col-md img {
  padding: 35px;
}

.col-md img:hover {
  opacity: .5;
}

.col-md figcaption {
  font-size: 1em;
  text-align: center;
  font-family: 'Arima Madurai', cursive;
  padding: 40px;
}

.col-md a {
  color: black;
}

.col-md a:hover {
  color: rgba(237, 188, 56, .7);
}

#galleryImages {
  text-align: center;
}

#galleryNav {
  background-color: white;
}

#galleryNav a {
  color: black;
}


#galleryNav a:hover {
  color: rgba(237, 188, 56, .7);
}


/* Contact Styles */

.form  {
  text-align: center;
}

#contactForm {
  text-align: center;
  font-family: 'Arima Madurai', cursive;
  font-size: .8rem;
}

#label {
  text-align: left;
}


/* Media Queries For Responsive Design*/

/*Small devices (landscape phones, 360px and up) */

@media (min-width: 375px) {

  #jumbo1 {
    background-image: url('img/img_5_1110px.jpg');
    background-size: cover;
    background-position:bottom;
    height: auto;
    max-width: 100%;
  }

  #title {
    font-family: 'Arima Madurai', cursive;
    text-align: center;
    color: white;
    margin-top: 32%;
    font-weight: 900px;
    font-size: 2.5rem;
    text-shadow: .5px .5px #000;
  }

  #tagline {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: .9rem;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
    background-color: white;
    border-radius: 2px;
    margin-top: 5%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #tagline2 {
    text-align: center;
    font-family: 'Arima Madurai', cursive;
    font-size: .8rem;
    font-weight: 800;
    letter-spacing: 2px;
    padding: 5px;
    color: rgb(237, 188, 56);
    background-color: black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
  }




 }

 @media (min-width: 425px) {

   #jumbo1 {
     background-image: url('img/img_5_1110px.jpg');
     background-size: cover;
     background-position:bottom;
     height: auto;
     max-width: 100%;
   }

   #title {
     font-family: 'Arima Madurai', cursive;
     text-align: center;
     color: white;
     margin-top: 20%;
     font-weight: 900px;
     font-size: 2.5rem;
     text-shadow: .5px .5px #000;
   }


   #tagline {
     font-family: 'Raleway', sans-serif;
     text-align: center;
     font-size: .9rem;
     font-weight: 800;
     letter-spacing: 1px;
     text-transform: uppercase;
     color: black;
     background-color: white;
     border-radius: 2px;
     margin-top: 5%;
     width: 70%;
     margin-left: auto;
     margin-right: auto;
   }

   #tagline2 {
     text-align: center;
     font-family: 'Arima Madurai', cursive;
     font-size: .8rem;
     font-weight: 800;
     letter-spacing: 2px;
     padding: 5px;
     color: rgb(237, 188, 56);
     background-color: black;
     width: 40%;
     margin-left: auto;
     margin-right: auto;
     border-radius: 2px;
   }


  }



/*Medium devices (tablets, 506px and up)*/

@media (min-width: 506px) {

  .nav {
    font-weight: 100;
    font-size: .6rem;
    background-color: black;
    text-transform: uppercase;
    letter-spacing: 1.8px;
  }

  #jumbo1 {
    background-image: url('img/img_5_612px.jpg');
    background-size: cover;
    background-position: bottom;
    height: auto;
    max-width: 100%;
  }

  #title {
    font-family: 'Arima Madurai', cursive;
    text-align: center;
    color: white;
    margin-top: 20%;
    font-weight: 900px;
    font-size: 2.5rem;
    text-shadow: .5px .5px #000;
  }

  #tagline {
    font-size: .8rem;
    letter-spacing: 3px;
    padding: 10px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
  }

  #tagline2 {
    font-size: 1.2rem;
    letter-spacing: 2px;
  }

  /* Gallery Images */


  .col-md figcaption {
    font-size: 1em;
    padding-left: 30px;
    padding-right: 30px;
  }





 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .nav {
    font-weight: 100;
    font-size: .6rem;
    background-color: black;
    text-transform: uppercase;
    letter-spacing: 1.8px;
  }


  #jumbo1 {
    background-image: url('img/img_5_612px.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    height: auto;
    max-width: 100%;
  }

  #title {
    font-family: 'Arima Madurai', cursive;
    text-align: center;
    color: white;
    font-weight: 900px;
    font-size: 3.8rem;
    text-shadow: .5px .5px #000;
  }


/* Gallery Images */

.col-md figcaption {
  font-size: 1em;
  padding-left: 30px;
  padding-right: 30px;
}





}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .nav {
    font-weight: 100;
    font-size: .6rem;
    background-color: black;
    text-transform: uppercase;
    letter-spacing: 1.8px;
  }

  #jumbo1 {
    background-image: url('img/img_5_612px.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    height: auto;
    max-width: 100%;
  }

  #title {
    font-family: 'Arima Madurai', cursive;
    text-align: center;
    color: white;
    font-weight: 900px;
    font-size: 3.8rem;
    text-shadow: .5px .5px #000;
    margin-top: 10%;
  }

  #tagline {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: .9rem;
    font-weight: 800;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: black;
    background-color: white;
    padding: 8px;
    border-radius: 2px;
    margin-top: 0%;
    width: 28%;
    margin-left: auto;
    margin-right: auto;
  }



  #tagline2 {
    text-align: center;
    font-family: 'Arima Madurai', cursive;
    font-size: .8rem;
    font-weight: 800;
    letter-spacing: 2px;
    padding: 5px;
    color: rgb(237, 188, 56);
    background-color: black;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
  }

/* Gallery Images */
  .col-md figcaption {
    font-size: 1em;
    padding-left: 30px;
    padding-right: 30px;
  }









}


font-family: 'Arima Madurai', cursive;
font-family: 'Raleway', sans-serif;
