/*♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
html, body {width: auto!important; overflow-x: hidden!important}
/*♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */

/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
                                    /* Body Styles */
/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */


 #body {
  background: url(img/angeladavis_elik.jpg) no-repeat center center fixed;
  -webkit-background-size: 25%;
  -moz-background-size: 25%;
  -o-background-size: 25%;
  background-size: 25%;
  background-blend-mode:multiply;
  font-family: 'Tourney', cursive;
  overflow: hidden;
}

#body p, #body a, #body p a  {

  color: red !important;
}

#row1, .row {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #000;
  margin-top: 2% !important;
}


.navbar {
  height: 90px;
}


#body p:hover, #body a:hover {
  color: #000 !important;
  text-decoration: none !important;
}

#emailMobile {
display: none !important;
}

#emailDesktop {
  display: block !important;
}







/*♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
                                    /* Body Styles End */
/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */






/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
                        /* Media Queries For Responsive Design*/
/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
                        /*Small devices (landscape phones, 320px and up) */
/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */

@media only screen and (min-width: 320px) {

  #body {
   background: url(img/angeladavis_elik.jpg) no-repeat center center fixed;
   -webkit-background-size: 55%;
   -moz-background-size: 55%;
   -o-background-size: 55%;
   background-size: 55%;
   background-blend-mode:multiply;
   overflow: hidden;
 }


  #row1 {
    margin-top: 30%;
  }


  #row2 {
    margin-top: 90%;
  }


  #emailMobile {
  display: block !important;
  }

  #emailDesktop {
    display: none !important;
  }

}



/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
                        /*Small devices (landscape phones, 360px and up) */
/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
@media only screen and (min-width: 280px) {

  #body {
   background: url(img/angeladavis_elik.jpg) no-repeat center center fixed;
   -webkit-background-size: 55%;
   -moz-background-size: 55%;
   -o-background-size: 55%;
   background-size: 55%;
   background-blend-mode:multiply;
   overflow: hidden;
 }

  #row1 {
    margin-top: 30%;
  }

  #row2 {
    margin-top: 90%;
  }

  #emailMobile {
  display: block !important;
  }

  #emailDesktop {
    display: none !important;
  }

}

@media only screen and (min-width: 375px) {

  #body {
   background: url(img/angeladavis_elik.jpg) no-repeat center center fixed;
   -webkit-background-size: 55%;
   -moz-background-size: 55%;
   -o-background-size: 55%;
   background-size: 55%;
   background-blend-mode:multiply;
   overflow: hidden;
 }

  #row1 {
    margin-top: 30%;
  }


  #row2 {
    margin-top: 90%;
  }

  #emailMobile {
  display: block !important;
  }

  #emailDesktop {
    display: none !important;
  }

}

/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
                        /*Small devices (landscape phones, 425px and up) */
/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
@media only screen and (min-width: 411px) {

  #body {
   background: url(img/angeladavis_elik.jpg) no-repeat center center fixed;
   -webkit-background-size: 40%;
   -moz-background-size: 40%;
   -o-background-size: 40%;
   background-size: 40%;
   background-blend-mode:multiply;
   overflow: hidden;
 }



}


@media only screen and (min-width: 425px) {

  #body {
   background: url(img/angeladavis_elik.jpg) no-repeat center center fixed;
   -webkit-background-size: 55%;
   -moz-background-size: 55%;
   -o-background-size: 55%;
   background-size: 55%;
   background-blend-mode:multiply;
   overflow: hidden;
 }

  #row1 {
    margin-top: 30%;
  }


  #row2 {
    margin-top: 80%;
  }


  #emailMobile {
  display: block !important;
  }

  #emailDesktop {
    display: none !important;
  }


}


/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
                        /*Medium devices (tablets, 506px and up)*/
/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
@media only screen and (min-width: 506px) {

  #body {
   background: url(img/angeladavis_elik.jpg) no-repeat center center fixed;
   -webkit-background-size: 55%;
   -moz-background-size: 55%;
   -o-background-size: 55%;
   background-size: 55%;
   background-blend-mode:multiply;
   overflow: hidden;
  }


  #row1 {
    margin-top: 15%;
  }


  #row2 {
    margin-top: 80%;
  }


  #emailMobile {
  display: none !important;
  }

  #emailDesktop {
    display: block !important;
  }

 }

 /* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
                         /*Tablet Devices 768px and up) */
 /* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
@media  only screen and (min-width: 576px) {

  #body {
   background: url(img/angeladavis_elik.jpg) no-repeat center center fixed;
   -webkit-background-size: 55%;
   -moz-background-size: 55%;
   -o-background-size: 55%;
   background-size: 55%;
   background-blend-mode:multiply;
   overflow: hidden;
 }

  #row1 {
    margin-top: 10%;
  }


  #row2 {
    margin-top: 70%;
  }

  #emailMobile {
  display: none !important;
  }

  #emailDesktop {
    display: block !important;
  }
}

@media only screen and (min-width: 768px) {

  #body {
   background: url(img/angeladavis_elik.jpg) no-repeat center center fixed;
   -webkit-background-size: 25%;
   -moz-background-size: 25%;
   -o-background-size: 25%;
   background-size: 25%;
   background-blend-mode:multiply;
   overflow: hidden;
 }

  #row1 {
    margin-top: 10%;
  }


  #row2 {
    margin-top: 50%;
  }


  #work {
    margin-top: 50%;
  }


  #emailMobile {
  display: none !important;
  }

  #emailDesktop {
    display: block !important;
  }

}

/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
                        /* Large devices (desktops, 1024px and up) */
/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
@media only screen and (min-width: 1024px) {

  #body {
   background: url(img/angeladavis_elik.jpg) no-repeat center center fixed;
   -webkit-background-size: 25%;
   -moz-background-size: 25%;
   -o-background-size: 25%;
   background-size: 25%;
   background-blend-mode:multiply;
   overflow: hidden;
 }

  #row1 {
    margin-top: 5%;
  }


  #row2 {
    margin-top: 45% !important;
  }

  #emailMobile {
  display: none !important;
  }

  #emailDesktop {
    display: block !important;
  }

}

/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
                /* Large devices (large desktops, 1440px and up) */
/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
@media only screen and (min-width: 1440px) {

  #body {
   background: url(img/angeladavis_elik.jpg) no-repeat center center fixed;
   -webkit-background-size: 25%;
   -moz-background-size: 25%;
   -o-background-size: 25%;
   background-size: 25%;
   background-blend-mode:multiply;
   overflow: hidden;
 }

  #row1 {
    margin-top: 3%;
  }


  #row2 {
    margin-top: 37.5%;
  }

  #emailMobile {
  display: none !important;
  }

  #emailDesktop {
    display: block !important;
  }

}



/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
                /* ExtraExtra large devices (large desktops, 2560px and up) */
/* ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ ♥ */
@media only screen and (min-width: 2560px) {

  #body {
   background: url(img/angeladavis_elik.jpg) no-repeat center center fixed;
   -webkit-background-size: 25%;
   -moz-background-size: 25%;
   -o-background-size: 25%;
   background-size: 25%;
   background-blend-mode:multiply;
   overflow: hidden;
  }

  #row1 {
    margin-top: 5%;
  }


  #row2 {
    margin-top: 35%;
  }


  #emailMobile {
  display: none !important;
  }

  #emailDesktop {
    display: block !important;
  }
}
