/* Universal Styles */
html {width: auto!important; overflow-x:hidden !important;  overflow-y: scroll !important; zoom: 93% !important;}

#body {
  background: #6a3093;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #a044ff, #6a3093);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #a044ff, #6a3093); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Lato', sans-serif !important;
}

b {
  font-weight: normal !important;
}

strong {
  font-weight: bold !important;
}

a {
  color: #FBC304 !important;
  font-weight: 600 !important;
  font-family: 'Lato', sans-serif !important;
  text-shadow: 0px 0px 6px #000;
}

a:hover {
  color: #fff !important;
  text-decoration: none !important;
}

.dropdown-menu li a {
  color: #000 !important;
  text-shadow: none !important;
}
.dropdownmenu li a:hover {
  color: #6a3093 !important;
}

.navbar-toggler {
  border: none !important;
}

.fa-bars {
  color: #FBC304 !important;
}

/* Universal Styles End */

/* Homepage Styles */
.navbar-expand-lg  {
  background: transparent !important;
}

.sectionOne, .sectionTwo, .contactSectionOne, .contactSectionTwo {
  width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;
  height: 100vh !important;
  border-bottom: 3px solid #FBC304 !important;
}

.sectionOne, .contactSectionOne {
  background: #000 !important;
  padding: 15% !important;
  margin-top: 0% !important;
  font-family: 'Lato', sans-serif !important;
  border-right: 3px solid #FBC304 !important;
  color: #fff;
}

.contactSectionOne {
  padding: 25% !important;
}

.sectionOne h1, .contactSectionOne h4 {
  margin-top: 0% !important;
  text-shadow: 0px 0px 6px #aaa;
  color: #FBC304 !important;
}

.sectionTwo, .contactSectionTwo {
  overflow: hidden;
  position: relative;
}

.sectionTwo video, .contactSectionTwo iframe {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: .8;
}

.col-sm, .col {
  padding: 0 !important;
}

.homepagebuttons {
  margin-top: 3% !important;
}

.homepagebuttons button  {
  border: none !important;
  font-family: 'Lato', sans-serif !important;
  color: #fbc304 !important;
  font-weight: 600;
  background-color: #000 !important;
}

.homepagebuttons button:hover {
  border: 3px solid #fff !important;
  background-color: #fff !important;
  color: #000 !important;
}

.headings, .headingsTwo {
  text-align: center;
  color: #FBC304 !important;
  text-shadow: 0px 0px 3px #aaa;
  padding: 1% !important;
  border: 3px solid #FBC304 !important;
}

.headings i, .headingsTwo i {
  text-shadow: 0px 0px 6px #000;
  color: #FBC304 !important;
}

.headingsTwo {
  margin-top: -.3% !important;
}

.headings col-sm {
  border-right: 3px solid #FBC304 !important;
}

.navigation {
    border-bottom: 3px solid #FBC304 !important;
}

.videoOne iframe {
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;
  height: 65vh !important;
  text-align: center !important;
  border-right: 3px solid #FBC304 !important;

}

.videoTwo {
  border-right: 3px solid #FBC304 !important;
}

.videoTwo, .videoThree {
  width: 50% !important;
}

.videoTwo, .videoThree img {
  width: 100% !important;
  height: 65vh !important;
}
/* Homepage Styles End */


/* Research Section Styles */
.researchSection {
  background-color: #fff !important;
  padding: 5% !important;
}

.research h1 {
  font-family: 'Lato', sans-serif !important;
  font-weight: bold;
}

article {
  padding: 2% !important;
}

.figure {
  padding: 0% !important;
  padding-left: 5% !important;
}

.figure img {
  height: 450px !important;
}

figcaption a {
  color: #000 !important;
  text-shadow: none !important;
}

figcaption a:hover {
  color: #6a3093 !important;
}
/* Research Section Styles End */

/* Team Member Section Styles */

.helminthResearchers {
  margin-top: -10% !important;
}
.currentTeamMembers, .currentRotationStudents, .formerSummerMembers, .collaborators, .helminthResearchers, .dissertations {
  text-align: center;
  padding: 5% 10% !important;
}

#ctm h1, #crs h1, #frs h1, #fsm h1, #ftm h1 {
  color: #FBC304 !important;
  padding-bottom: 1% !important;
  font-weight: bold;
  font-family: 'lato' !important;
  letter-spacing: 2px;
}

.currentTeamMembers a, .currentRotationStudents a, .formerSummerMembers a, .collaborators a, .helminthResearchers a, .dissertations a {
  text-shadow: none !important;
  color: #7324b3 !important;
}

.currentTeamMembers a:hover, .currentRotationStudents a:hover, .formerSummerMembers a:hover, .collaborators a:hover, .helminthResearchers a:hover, .dissertations a:hover {
  color: #000 !important;
}

.currentTeamMembers .btn, .currentRotationStudents .btn {
  background: #7324b3;  /* fallback for old browsers */
  color: #fff !important;
  border: none !important;
}

.modal-backdrop {
  background: none !important;
  width: inherit !important;
}

.card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-img-top {
  width: auto !important;
  height: auto !important;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
}

.card-text {
  font-size: 14px;
}
/* Team Member Section Styles End */

/* News Section Styles */
.news h4 {
  color: #FBC304 !important;
  text-align: center;
  padding-top: 5% !important;
  text-shadow: 0px 0px 6px #000;
}

.news {
  color: #fff !important;
}
/* News Section Styles End */


/* Dissertations Section */
.dissertations {
  height: 100vh !important;
}

/* Dissertations Section End */
/* Footer Styles */
.footer {
  font-weight: 600 !important;
  color: #fbc304 !important;
  text-shadow: 0px 0px 3px #000;
}

.footer a {
  color: #fbc304 !important;
  text-shadow: 0px 0px 3px #000;
}

.footer a:hover {
  color: #fff !important;
  text-shadow: 0px 0px 3px #000;
}
/* Footer Styles End */
