html,body  {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

.navbar {
  background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
  box-shadow: 0 8px 6px -6px #D3D3D3;
}

.navbar, .navbar a, .navbar-brand a {
  font-family: 'Poiret One', cursive;
  color: black;
  text-align: left;
}

.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 1.5%;
}

#title {
  letter-spacing: 3.8px;
  font-size: 20px;
  font-weight: bold;
}

#title:hover {
  color: white;
}

.navbar-nav {
  text-align: center;
  text-transform: uppercase;
}


.nav-item:hover.nav-link:hover {
  color: white;
  text-decoration: underline;
}

.navbar, .navbar a , .navbar-brand a {
  font-family: 'Poiret One', cursive;
}

#main {
  background-image: url('img/img1.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 20%;
  width: 150%:
}

#main .row {
  width: 110%;
  text-align: center;
  margin-top: 10%;
  margin-left: 5%
}

#main .col-lg {
  padding-top: 2.5%;
}

#intro {
  text-align: right;
  margin-left: 18%;
  margin-top: 5%;
  color: #000;
}

#intro h1 {
  text-transform: uppercase;
  font-family: 'Poiret One', cursive;
  letter-spacing: 1.8px;
}

#intro p {
  font-family: 'Alegreya Sans', sans-serif;
}

video {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

video:hover {
  opacity: .5;
}

#vids {
  padding: 4.5%;
  font-family: 'Alegreya Sans', sans-serif;
  background-color: white;
}
#vids h1 {
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
}

#vids h1, #vids p {
  color: black;
  text-align: center;
}

#about {
  //background-color: rgba(242,189,208, .3);
  border: 1px solid rgba(242,189,208, .3);
  padding: 10%;
}

#about h1 {
  text-align: center;
}

#aboutImage {
  font-family: 'Poiret One', cursive;
  padding: 14.5%;
  opacity: .9;
}

#aboutImage {
  margin-left: 15%;
  margin-top: 15%;
}

#about img {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

#aboutContent {
  margin-top: 10%;
  //background-color: rgba(60,216,213, 0.3);
  color: #000;
  padding: 10.5%;
  font-family: 'Alegreya Sans', sans-serif;
}

#aboutContent  h1,  #appointments h1 {
  text-align: center;
  font-family: 'Poiret One', cursive;
  padding: 2.5%;
}

#image3 {
  //background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
  background-image: url('img/img4.jpg');
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  padding: 15%;
  height: 230px;
  opacity: .5;
}

#image4 {
  //background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
  background-image: url('img/img3.jpg');
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  padding: 15%;
  height: 230px;
  opacity: .5;
}

#image5 {
  //background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
  background-image: url('img/img5.jpg');
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  padding: 15%;
  height: 230px;
  opacity: .5;
}

#image6 {
  //background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
  background-image: url('img/img6.jpg');
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  padding: 15%;
  height: 230px;
  opacity: .5;
}

#menuS {
  padding: 5%;
}

#menuS h1 {
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
  text-align: center;
}

#menuS caption {
    font-family: 'Poiret One', cursive;
    text-align: center;
    padding: 5%;
}

.table {
  text-align: center;
  margin-top: 5%;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.table > thead > tr  {
  margin: 35%;
}


#galleryImages {
  padding: 10%;
}

#galleryImages h3 {
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
  text-align: center;
  padding: 3%;
  letter-spacing: 3px;
}

#galleryImages h5 {
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
  text-align: center;
  padding: 5%;
}



#galleryImages{
  padding: 3%;
  text-align: center;
}

#galleryImages .nav {
  padding-top: 3%;
}

#galleryImages .nav a {
  font-family: 'Alegreya Sans';
  color: black;
  font-size: 14px;
}

#galleryImages {
  width: 85%;
  padding: 3%;
  margin-left: auto;
  margin-right: auto;
}

#galleryImages img {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  width: 285px;
}

#galleryImages .row .col-md {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.showMore {
  font-family: 'Alegreya Sans';
  color: black;
  font-size: 14px;
}

.showMore:hover {
  color: #C5C1FF;
  text-decoration: none;
  opacity: .5;
}

#appointments {
  background-color: white;
  padding: 5%;
}

#buttons {
  text-align: center;
}


#socialsAbout, #socialsAbout a {
    text-align: center;
    margin-top: 1%;
    padding: 1%;
    color: #000;
    font-size: 20px;
}

#socials a {
  margin-top: 1%;
  padding: 1%;
}

#footer {
  font-family: 'Poiret One', cursive;
  background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
  height: auto;
  text-align: center;
  padding: .5%;
  -webkit-box-shadow: 0px -2px 3px #D3D3D3;
  -moz-box-shadow: 0px -2px 3px #D3D3D3;
  box-shadow: 0px -2px 3px #D3D3D3;
}

#footer a  {
  color: black;
  font-size: 10px;
  letter-spacing: 3px;
}

#footer a:hover {
  color: white;
}

#vidButton, #appointmentsButton1, #appointmentsButton2, #footerButton {
  background-color: transparent;
  color: #000;
  border: .5px solid #000;
  font-family: 'Alegreya Sans', sans-serif;
   cursive;text-transform: uppercase;
   letter-spacing: 2.5px;
}

#vidButton:hover, #appointmentsButton1:hover, #appointmentsButton2:hover, #footerButton:hover {
  background-color: black;
  color: white;
}

.col-sm {
  padding-top: 0px;
}



/* Media Queries For Responsive Design  -------------------------------------------------------------------  */

@media (min-width: 320px) {

  .nav-item {
    font-size: 16px;
    letter-spacing: 3px;
  }

  #title {
    font-size: 28px;
    letter-spacing: .8px;
  }


.col-sm {
  padding-top: 2%;
}

#main {
  display: none;
}

#vids {
  margin-top: 18.5%;
}

#footer a {
  font-size: .5rem;
}

#intro .display-3  {
  width: 135%;
  font-size: 1.5rem;
  margin-top: 280%;
  margin-left: 10%;
  font-weight: bold;
}

#intro .h2 {
  width: 135%;
  font-size: 1.4rem;
  margin-left: 8%;
}

#intro {
  text-align: right;
  margin-left: 0%;
  margin-top: 0%;
  color: #000;
}

#intro hr {
  width: 125%;
  margin-left: 20%;
}

#intro p {
  width: 135%;
  text-align: right;
  font-size:1rem;
}

#vids .row  {
  margin-left: 1%;
}

#aboutImage {
  margin-left: -1.5%;
  margin-top: -5%;
}

#aboutContent {
  margin-top: -10%;
}

#aboutImage h5 {
  text-align: center;
}

#menuS caption {
  text-align: left;
}

#showArrow {
  display: block;
  text-align: center;
}


}

/*Small devices (landscape phones, 360px and up) */

@media (min-width: 375px) {

  .nav-item {
    font-size: 16px;
    letter-spacing: 3px;
  }

  #title {
    font-size: 28px;
    letter-spacing: .8px;
  }

.col-sm {
  padding-top: 2%;
}

#footer a {
  font-size: .5rem;
}

#intro .display-3  {
  width: 135%;
  font-size: 1.5rem;
  margin-top: 230%;
  margin-left: 10%;
  font-weight: bold;
}

#vids .row  {
  margin-left: 5%;
}

#showArrow {
  display: block;
  text-align: center;
}


 }


 @media (min-width: 425px) {

   .col-sm {
     padding-top: 2%;
   }

   #footer a {
     font-size: .5rem;
   }

   #intro .display-3  {
     width: 135%;
     font-size: 1.5rem;
     margin-top: 190%;
     margin-left: 5%;
     font-weight: bold;
   }

   #intro hr {
     width: 115%;
     margin-left: 25%;
   }

   #intro p {
     width: 140%;
     text-align: right;
     font-size:1rem;
   }

   #vids .row  {
     margin-left: 8.5%;
   }

   #showArrow {
     display: block;
     text-align: center;
   }

  }



/*Medium devices (tablets, 506px and up)*/

@media (min-width: 768px) {

  #title {
    letter-spacing: 3.8px;
    font-size: 28px;
    margin-left: 3%;
  }

  .col-sm {
    padding-top: 0px;
  }

  #vids {
    margin-top: 0;
  }

  #main {
    display: block;
  }


  #footer a {
    font-size: 10px;
  }

  #intro .display-3  {
    width: 135%;
    font-size: 2.5rem;
    margin-top: 75%;
    margin-left: 0%;
    font-weight: bold;
  }

  #intro .h2 {
    width: 135%;
    font-size: 2rem;
    margin-left: 0%;
  }

  #intro hr {
    width: 100%;
    margin-left: 35%;
  }

  #intro p {
    width: 135%;
    text-align: right;
    font-size:1rem;
  }

#aboutImage {
  margin-top: -10%;
  text-align: center;
}


#aboutImage img {
  //margin-left: 20%;
  padding:  0%;
}

#aboutContent {
  margin-top: -20%;
}


#menuS caption {
  text-align: center;
}

#showArrow {
  display: none;
}




 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

.navbar-nav {
  margin-left: 45%;
  letter-spacing: 3.5px;
  font-size: 12.5px;
}

.navbar-nav a {
  margin: 1.5%;
}

.nav-item {
  font-size: 11px;
}


#title {
  letter-spacing: 3.8px;
  font-size: 28px;
  margin-left: 3%;
}

.col-sm {
  padding-top: 0px;
}

#main {
  display: block;
}

#vids {
  margin-top: 0;
}

#footer a {
  font-size: 10px;
}

#intro .display-3  {
  width: 135%;
  font-size: 2.5rem;
  margin-top: 45%;
  margin-left: -15%;
  font-weight: bold;
}

#intro .h2 {
  width: 135%;
  font-size: 2rem;
  margin-left: -15%;
}

#intro hr {
  width: 100%;
  margin-left: 20%;
}

#intro p {
  width: 135%;
  text-align: right;
  font-size:1rem;
  margin-left: -15%;
}

#vids .row  {
  margin-left: 2.5%;
}

#vids {
  width: 75%;
}


#aboutContent {
  margin-top: -1.8%;
}

#aboutImage {
  //margin-top: 25%;
}

#aboutImage h1 {
  margin-left: 25%;
}

#aboutContent p {
  padding: 20%:
}

#menuS caption {
  text-align: center;
}

#showArrow {
  display: none;
}



}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  #title {
    letter-spacing: 3.8px;
    font-size: 28px;
    margin-left: 18%;
  }

  .nav-item {
    font-size: 11px;
  }

  .col-sm {
    padding-top: 0px;
  }

  #main {
    display: block;
  }

  #vids {
    margin-top: 0;
  }

  #footer a {
    font-size: 10px;
  }

  #intro .display-3  {
    width: 135%;
    font-size: 3rem;
    margin-top: 10%;
    margin-left: -15%;
    font-weight: bold;
  }

  #intro .h2 {
    width: 135%;
    font-size: 2rem;
    margin-left: -15%;
  }

  #intro hr {
    width: 100%;
    margin-left: 20%;
  }

  #intro p {
    width: 135%;
    text-align: right;
    font-size:1rem;
    margin-left: -15%;
  }

  #vids .row  {
    margin-left: 2.5%;
  }


  #menuS caption {
    text-align: center;
  }

  #showArrow {
    display: none;
  }




}


/*

font-family: 'Poiret One', cursive;
font-family: 'Alegreya Sans', sans-serif;


.footer a  {
  color: white;
}

Box Shadow for Gallery Images
-webkit-box-shadow: 0 10px 6px -6px #777;
-moz-box-shadow: 0 10px 6px -6px #777;
box-shadow: 0 10px 6px -6px #777;


*/
